.layout{ 
    min-height: 100vh;
    justify-content: center;
}

.content{
    display: grid;
    justify-content: center;
    align-items: center;
}
.ant-layout-sider {
    background: #fff !important; /* Белый фон для боковой панели */
  }
  
  .ant-menu-item {
    color: #000 !important; /* Черный цвет текста для элементов меню */
  }
  
  .ant-menu-item:hover, .ant-menu-item-selected {
    background-color: #f0f0f0 !important; /* Цвет фона при наведении и выборе */
    color: #000 !important; /* Цвет текста при наведении и выборе */
  }
  
  .ant-menu {
    background-color: #fff !important; /* Цвет фона всего меню */
  }
  .ant-menu-item-selected, .ant-menu-submenu-open {
    background-color: transparent !important; /* Делаем фон прозрачным */
  }
  
  /* Переопределение фона при наведении */
  .ant-menu-item:hover, .ant-menu-submenu-title:hover {
    background-color: rgba(255, 255, 255, 0.1) !important; /* Легкая подсветка при наведении */
  }
  
